.card-image-cover{
	width: 100%;
}
.no-space-row{
	margin-bottom: 0 !important;
}
.add-btn-flt{
	position: relative;
	float: right;
	top: -15px;
	right: 5%;
}

 /* label color */
   .input-field label {
     color: #ffffff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #f50057;
   }


textarea.materialize-textarea:focus:not([readonly]){

	border-bottom: 2px solid #f50057;
	box-shadow: 2px solid #f50057;
}

#modalsobre {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 30%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

#modalcontato {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 30%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

#modalccredito {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 60%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

#modalboleto {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 20%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}


